results.log
train_results
.idea
pred_carmel.py
data/carmel_test.txt
data/carmel_test2.txt
data/carmel_test3.txt
NLP
NLP/*
data/test_data_carmel.txt
data/debug.wtag
bfgs.py
main_2.py
pos_memm/pos_memm_improved_set.py
pos_memm/pos_memm_improved.py
pos_memm/pos_memm_106_107.py
pos_memm/__pycache__/*
results